<router-outlet></router-outlet>
<div class="topnav">
  <a href="#">Your Role</a>
  <a href="#">Support</a>
</div>

<section>
  <article>
    <table id="rolesTable" style="width:100%">
      <thead>
      <tr>
        <th>Band Level</th>
        <th>Training Name</th>
        <th>Training Type</th>
      </tr>
      </thead>
      <tbody>
      <tr class="myRow" id="pop-over" *ngFor="let trainingPerBands of trainingPerBand">
        <td>{{ trainingPerBands.bandID }}</td>
        <td>{{ trainingPerBands.name }}</td>
        <td>{{ trainingPerBands.trainingType}}</td>
      </tr>
      </tbody>
    </table>
  </article>
</section>

  <section>
  <article>
	<table id="band" style="width:100%">
		<thead>
			<tr>
        <th>BandID</th>
				<th>Title</th>
        <th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr class="Name" id="pop-over" *ngFor="let competency of competencies">
				<td>{{ competency.bandID }}</td>
        <td>{{ competency.title }}</td>
        <td>{{ competency.compDesc }}</td>
			</tr>
		</tbody>
	</table>
  </article>
</section>

<section>
  <article>
<table id="responsibility" style="width:100%">
		<thead>
			<tr>
				<th>BandID</th>
				<th>Responsibility</th>
         <th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr class="myRow" id="pop-over" *ngFor="let responsibility of responsibilities">
				<td>{{ responsibility.bandID }}</td>
				<td>{{ responsibility.respID }}</td>
        <td>{{ responsibility.respDesc }}</td>
			</tr>
		</tbody>
	</table>
  </article>
</section>
