<router-outlet></router-outlet>
<header>
  <table style="width: 100%;">
    <tr>
      <th>
</th>

<section>
        <article>
          <table id="band" style="width:100%">
              <thead>
                  <tr>
                      <th>Band Name</th>
                      <th>Role</th>
                      <th>Band Level</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="Name" id="pop-over" *ngFor="let bandRole of bandRole">
                      <td>{{ bandRole.bandname }}</td>
                      <td>{{ bandRole.jobrolename }}</td>
                      <td>{{ bandRole.bandlevel }}</td>
                  </tr>
              </tbody>
          </table>
        </article>
      </section>
      
