<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<h1 style= "text-align: center; margin-top: 45px;">Test</h1>
<section style="float: left; width: 50%;">
  <article>
    <table id="capabilityDescription" style="width:100%">
      <thead>
      <tr>
        <th>Capability Description</th>
      </tr>
      </thead>
      <tbody>
      <tr class="myRow" id="pop-over" *ngFor="let capability of capabilities">
        <td>{{ capability.capDescription }}</td>
      </tbody>
    </table>
  </article>
</section>

<section style="float: right; width: 50%;">
  <article>
    <h1 style="text-align: center;">Capability Lead</h1>
    <table id="band" style="width:100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Photo</th>
      </tr>
      </thead>
      <tbody>
          <tr class="myRow" id="pop-over" *ngFor="let capability of capabilities">
              <td>{{ capability.name }}</td>
              <img src="{{ capability.photo }}" style="width: 150px;">
          </tr>
      </tbody>
    </table>
    <table id="band" style="width: 100%">
        <th>Desc</th>
        <tr class="myRow" id="pop-over" *ngFor="let capability of capabilities">
            <td style="text-align: center;">{{ capability.message }}</td>
        </tr>
      </table>
  </article>
</section>

<section>
  <article>
    <table id="responsibility" style="width:100%">
      <thead>
      <tr>
        <th>BandID</th>
        <th>Responsibility</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </article>
</section>
