<!DOCTYPE html>
<html lang="en">
  <head>
    <title>kJourney</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div style="text-align: center;">
        <img src="assets/newLogo.png" alt="kJourney Logo" display="inline-block" width="25%">
      </div>

      <div class="full" style="width:100%">
        <div class="left" style="width:50%; float:left;">
          <div *ngIf="this.auth.currentUserValue" class="navbar" style="padding-top:3%">
            <a routerLink="home" routerLinkActive="active">Home</a>
            <a routerLink="login">Login</a>
            <a href="" (click)="logout()">Logout</a>
            <div class="dropdown">
              <button class="dropbtn">Bands
      <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                  <a href="bands?bandID=1">Executive</a>
                  <a href="bands?bandID=2">Leadership Community</a>
                  <a href="bands?bandID=3">Principle</a>
                  <a href="bands?bandID=4">Manager</a>
                  <a href="bands?bandID=5">Consultant</a>
                  <a href="bands?bandID=6">Senior Associate</a>
                  <a href="bands?bandID=7">Associate</a>
                  <a href="bands?bandID=8">Trainee</a>
                  <a href="bands?bandID=9">Apprentice</a>
              </div>
            </div>
            <div *ngIf="this.auth.currentUserValue" class="dropdown">
              <button class="dropbtn">Capabilities & Job Family
      <i class="fa fa-caret-down"></i>
              </button>
              <div class="CapabilitiesDrop" *ngFor="let capability of capabilities">
                  <a routerLink="{{ capability.name }}"></a>
                <a class="CapabilityName" href={{ capability.name }}></a>
                <ul>

                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Sales & Marketing<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Business Development</a></li>
                          <li><a tabindex="-1" href="#">Account Management</a></li>
                          <li><a tabindex="-1" href="#">Sales</a></li>
                          <li><a tabindex="-1" href="#">Inside Sales Development</a></li>
                          <li><a tabindex="-1" href="#">Pre Sales & Bid Management</a></li>
                          <li><a tabindex="-1" href="#">Marketing</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Technical<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Software Engineering</a></li>
                          <li><a tabindex="-1" href="#">Data Engineering</a></li>
                          <li><a tabindex="-1" href="#">Cyber Security</a></li>
                          <li><a tabindex="-1" href="#">Architect</a></li>
                          <li><a tabindex="-1" href="#">Ops</a></li>
                          <li><a tabindex="-1" href="#">Infrastructure</a></li>
                          <li><a tabindex="-1" href="#">Testing</a></li>
                          <li><a tabindex="-1" href="#">Analytics</a></li>
                          <li><a tabindex="-1" href="#">Integration</a></li>
                          <li><a tabindex="-1" href="#">Product Specialist</a></li>
                          <li><a tabindex="-1" href="#">Product Support</a></li>
                          <li><a tabindex="-1" href="#">Technical Specialist</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Consulting<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Product</a></li>
                          <li><a tabindex="-1" href="#">Agile</a></li>
                          <li><a tabindex="-1" href="#">H C M</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Experience Design<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Research</a></li>
                          <li><a tabindex="-1" href="#">U X Design</a></li>
                          <li><a tabindex="-1" href="#">Creative Design</a></li>
                          <li><a tabindex="-1" href="#">Service Design</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Project Management</a></li>
                          <li><a tabindex="-1" href="#">Support Management</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Central Services Team<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Finance & P M O</a></li>
                          <li><a tabindex="-1" href="#">Commercial</a></li>
                          <li><a tabindex="-1" href="#">People</a></li>
                          <li><a tabindex="-1" href="#">Facilities</a></li>
                          <li><a tabindex="-1" href="#">Administration</a></li>
                          <li><a tabindex="-1" href="#">Travel</a></li>
                          <li><a tabindex="-1" href="#">Strategy</a></li>
                          <li><a tabindex="-1" href="#">Systems</a></li>
                        </ul>
                      </li>
                     </div>
                 
            </div>
          </div>
        </div>
        <div class="right" style="width:50%; float:right;">
          <div class="search-bar" style="text-align: right;" display="inline-block;">
            <input class=”text” type="text" placeholder="Filter..."/>
            <style></style>
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
