* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #61ab3f, white);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #41679f;
	border: 2px solid rgb(65, 163, 41);
	border-radius: 15px;
  }

  /* Style the topnav links */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
  text-decoration: none;
	background-color: #41679f;
  font-size: 16pt;

  }

  /* Change color on hover */
  .topnav a:hover {
	color:#009fe3;
  text-decoration: underline;
	background-color: #41679f;

  }

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
	background-color: #41679f;

}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
	background-color: #41679f;

}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	background-color: #41679f;

}

/* Change color on hover */
.topnav a:hover {
  color:#00b6cc;
  text-decoration: underline;
	background-color: #41679f;

}

header {
  background-color:transparent;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

.search-bar input{
height: 75px;
width: 900px;
padding: 24px;
font-size: 24pt;
border-radius: 37.5px;
border-color: black;
}

::placeholder{
  color: lightgray;
  font-size: 24pt;
}

nav {
  border-radius: 15px;
  float: left;
  width: 10%;
  background: #00cbe4;
  padding: 20px;
  border: 2px solid black;
  color: white;
}

nav ul {
  overflow: scroll;
  list-style-type: none;
  padding: 0;
}

article {
  border: 2px solid #004631;
  border-block-color: #004631;
  margin: 0 auto;
  padding: 25px;
  width: 35%;
  background-color: white;
  border-radius: 15px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #676766;
  padding: 10px;
  text-align: center;
  color: white;
}
