* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #61ab3f, white);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:white;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: green;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color:#00b6cc;
  text-decoration: underline;
}

header {
  background-color:transparent;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

.search-bar input{
height: 75px;
width: 900px;
padding: 24px;
font-size: 24pt;
border-radius: 37.5px;
border-color: black;
}

::placeholder{
  color: lightgray;
  font-size: 24pt;
}

nav {
  border-radius: 15px;
  float: left;
  width: 10%;
  background: #00cbe4;
  padding: 20px;
  border: 2px solid black;
  color: white;
}

nav ul {
  overflow: scroll;
  list-style-type: none;
  padding: 0;
}

article {
  border: 2px solid black;
  margin: 0 auto;
  padding: 25px;
  width: 35%;
  background-color: white;
  border-radius: 15px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #676766;
  padding: 10px;
  text-align: center;
  color: white;
}
