<!DOCTYPE html>
<html lang="en">
  <head>
    <title>kJourney</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div style="text-align: center;">
        <img src="assets/newLogo.png" alt="kJourney Logo" display="inline-block" width="25%">
      </div>

      <div  class="full" style="width:100%">
        <div class="left" style="width:50%; float:left;">
          <div *ngIf="this.authenticationService.currentUserValue" class="navbar" style="padding-top:3%">
            <a routerLink="home" routerLinkActive="active">Home</a>
            <a routerLink="login">Login</a>
            <a href="" (click)="logout()">Logout</a>
            <div class="dropdown">
              <button class="dropbtn">Bands
      <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a routerLink="bands">All</a>
                <a href="#">Executive</a>
                <a href="#">Leadership Community</a>
                <a href="#">Principle</a>
                <a href="#">Manager</a>
                <a href="#">Consultant</a>
                <a href="#">Senior Associate</a>
                <a href="#">Associate</a>
                <a href="#">Trainee</a>
                <a href="#">Apprentice</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Capabilities & Job Family
      <i class="fa fa-caret-down"></i>
              </button>
              <ul>
                <div class="dropdown-content">
                  <li style="list-style:none;">
                    <a href="#">Sales & Marketing</a>
                  </li>
                  <li class="dropdown">
                  <li class="dropdown-submenu">
                    <ul class="dropdown-content">
                      <li style="list-style:none;">
                        <a href="#">Business Development</a>
                      </li>
                      <li style="list-style:none;">
                        <a href="#">Account Management</a>
                      </li>
                    </ul>
                  </li>
                  <a href="#">Technical</a>
                  <a href="#">Consulting</a>
                  <a href="#">Experience Design</a>
                  <a href="#">Management</a>
                  <a href="#">Central Services Teams</a>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="right" style="width:50%; float:right;">
          <div class="search-bar" style="text-align: right;" display="inline-block;">
            <input class=”text” type="text" placeholder="Filter..."/>
            <style></style>
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
