* {
	box-sizing: border-box;
  }

 

	.card{
		border: 2px solid #00000088;
		margin: 0 auto;
		padding: 25px;
		width: 45%;
		background-color: rgba(97, 168, 63, 0.6);
		border-radius: 15px;
	}

	.form-control{
		font-size: small;
		font-family: 'Courier New', Courier, monospace
	}

	.card-header{
		font-size: xx-large;
		font-family: sans-serif;
		text-align: center;
		color: white;
		background-color: rgba(97, 168, 63, 0);
		border: 2px solid #00000000;
		text-decoration: underline;
		text-decoration-color: whitesmoke;
		
	}

	.btn btn-primary{
		background-color:  rgba(0, 103, 159, 0.9);
	}

	.loginErrorField{
		font-size: small;
		font-family: sans-serif;
		text-align: left;
		color: red;
	}


	.container {
		display: flex;
		justify-content: center;
	}
	.center {
		width: 800px;
	}

	