<router-outlet></router-outlet>
<header>
  <table style="width: 100%;">
    <tr>
      <th>
</th>
<th>
</th>
</tr>
</table>
</header>

<div class="topnav">
  <a href="#">Your Role</a>
  <a href="#">Support</a>
</div>

<section>
  <article>
    <app-view1></app-view1>
    <table id="careerTable" style="width:100%">
		<thead>
			<tr>
				<th>Names</th>
				<th>Summary</th>
			</tr>
		</thead>
		<tbody>
			<tr class="myRow" id="pop-over" *ngFor="let role of roles">
				<td>{{ role.name }}</td>
				<td>{{ role.summary }}</td>
			</tr>
		</tbody>
	</table>
  </article>
</section>
