<div class="container">
  <ngb-tabset>

    <ngb-tab title="Job Family Diagrams">
      <ng-template ngbTabContent>
        <app-view1></app-view1>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="View 2">
      <!--TODO: Add view 2-->
      <ng-template ngbTabContent>
        <app-view2></app-view2>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="View 3">
      <!--TODO: Add view 3-->
      <ng-template ngbTabContent>
        <app-view3></app-view3>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
